<!DOCTYPE html>
<html>
<head>

  <title>Search</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/Styles/base.css" />
</head>
<body>
  <head><h2>Search</h2></head>
  <main>
    <section class="detail-container">
        <% renderedBooks.forEach( item => { %>
          <section class ="book-item" data-id="<%= book.id">
            <img src="<%= item.img_url %>">
            <p>Title: <%= item.title %></p>
            <p>Author: <%= item.author %></p>
            <p>Description: <%=item.description %> </p>
            <p> ISBN: <%= item.ISBN %> </p>
          </section>
        <% }) %>
    </section>
  </main>
  
</body>
</html>