<!DOCTYPE html>
<html>
<head>

  <title>Search</title>
  <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
  <main>
    <section class="detail-container">
          <section class ="book-item" data-id="<%= book.id %>">
            <img src= "<%= book.image_url %>" />
            <h3>Title: <%= book.title %></h3>
            <p>Author: <%= book.author %></p>
            <p>Description: <%= book.description %> </p>
            <p> ISBN: <%= book.isbn %> </p>
            <section class="details-buttons">
              <button class="edit-button">Edit Book</button>
              <form action = "/delete/<%= book.id %>" method = "post">
                <button type = "submit">Delete Book</button>
              </form>
            </section>
          </section>
          <section class="db-form detail-hide form-container">
            <%- include('edit', {formAction: 'update', item: book}) %>
          </section>
    </section>
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>