<form action = "<%= 'update' === formAction ? `/update/${item.id}` : '/save' %>" method = "post">"
  <input type="hidden" name="_method" value="<%- 'update' === formAction ? 'put' : 'post' %>">
  <label>Title: <input type="text" name="title" value="<%= item.title %>" placeholder="<%= item.title %>"/> </label>
  <label>Author <input type="text" name="author" value="<%= item.author %>" placeholder="<%= item.author %>"/> </label>
  <label>ISBN <input type="text" name="isbn" value="<%= item.isbn %>" placeholder="<%= item.isbn %>"/> </label>
  <label>Description <input type="text" name="description"value="<%= item.description %>" placeholder="<%= item.description %>"/> </label>
  <label><input type="hidden" name="image_url" value="<%= item.image_url %>" ></label>
  <button type = submit class="<%- 'update' === formAction ? 'db-update-button' : 'api-saveButton'  %>" <%= item.isbn %>"><%- 'update' === formAction ? "Update Book" : "Save Book" %></button>
</form>