<!DOCTYPE html>
<html>
<head>

  <title>Search</title>
  <%- include('../../layout/head') %>
  <link rel="stylesheet" href="/Styles/modules/save-book.css"/>
</head>
<body>
  <%- include('../../layout/header') %>
  <div></div>
  <main>
    <section class ="all-api-books" id ="test">
        <% renderedBooks.forEach( item => { %>
          <% let num = 0 %>
          <% num++ %>
          <section class ="api-book book-item">
            <img src="<%= item.image_url %>">
            <p class="title"><%= item.title %></p>
            <p class="author"><%= item.author %></p>
            <button class="api-button <%=item.isbn %>">Add Book</button>
          </section>
          <section class="save-form hidden blue <%= item.isbn %>">
            <form action = '/save' method = 'post'>
              <label>Title: <input type="text" name="title" value="<%= item.title %>" placeholder="<%= item.title %>"/> </label>
              <label>Author <input type="text" name="author" value="<%= item.author %>" placeholder="<%= item.author %>"/> </label>
              <label>ISBN <input type="text" name="isbn" value="<%= item.isbn %>" placeholder="<%= item.isbn %>"/> </label>
              <label>Description <input type="text" name="description"value="<%= item.description %>" placeholder="<%= item.description %>"/> </label>
              <label><input type="hidden" name="image_url" value="<%= item.image_url %>" ></label>
              <button type = submit class="api-saveButton <%= item.isbn %>">Save Book</button>
            </form>
          </section>
          
        <% }) %>
    </section>
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>