<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <section class="all-books">
        <% volumes.forEach(book => { %>
          <section class="book-item" data-id="<%= book.id %>">
            <img src= "<%= book.image_url %>" />
            <p class="title"><%= book.title %></p>
            <p class="author"><%= book.author %></p>
            <a href="/<%= book.id %>"> View Details </a>
          </section>
        <% }) %>
        </section>
    </main>
    <%- include('../layout/footer') %>
  </body>

</html>
