<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Book App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/Styles/base.css" />
  </head>
  <body>
    <header><h1>
      Book App
    </h1></header>
    <section class="all-books">
      <ul id="book-list">
        <% results.forEach(book => { %>
          <li class="book-item" data-id="<%= book.id %>">
            <img src="<%= book.img_url %>">
            <p><%= book.title %></p>
            <p><%= book.author %></p>
            <a href="/tasks/<%= task.id %>">View Details</a>
          </li>
        <% }) %>
      </ul>

  </body>
</html>
