<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <section class="all-books">
        <% volumes.forEach(book => { %>
          <section class="book-item" data-id="<%= book.id %>">
            <img src="<%= book.img_url %>"/>
            <p><%= book.title %></p>
            <p><%= book.author %></p>
            <a href="/<%= book.id %>"> View Details </a>
          </section>
        <% }) %>
        </section>
      <%- include('../layout/footer') %>
  </body>

</html>
